@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: “Noto Sans TC”, sans-serif;
}

.container {
  background: #00f5a8;
  width: 600px;
  margin: 0 auto;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #004e40;
}
.container .header h2 {
  font-size: 40px;
  line-height: 0.8;
}
.container .header .h1Name {
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 5px;
  font-weight: 700;
}
.container .card {
  width: 400px;
  height: 250px;
  background: #FFF;
  border-radius: 10px;
  margin-left: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.container .card .logo {
  margin-bottom: 10px;
}
.container .card .hex1 {
  position: absolute;
  right: -105px;
  top: -40px;
  width: 200px;
  height: 175px;
  background: #00c178;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.container .card .hex2 {
  position: absolute;
  right: 48px;
  top: 107px;
  width: 80px;
  height: 70px;
  background: #659d92;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.container .card .hex3 {
  position: absolute;
  right: -39px;
  top: 139px;
  width: 106px;
  height: 99px;
  background: #6bd3a7;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.container .card .name {
  padding: 5px 10px;
  font-weight: bold;
  height: 100px;
  line-height: 1;
}
.container .card .name span {
  color: #041e4e;
  font-size: 18px;
}
.container .card .name h1 {
  margin-left: 55px;
  color: #147f08;
  font-size: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .card .content li {
  line-height: 1.1;
}
.container .card .content li a {
  color: #080e85;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5px;
}